[submodule "frontend"]
	path = frontend
	url = https://github.com/Happy-Hippo209/ConceptViz-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Happy-Hippo209/ConceptViz-backend.git
